Support HTTP trailers.

An annoying bit of the http/2 spec is the support for HTTP trailers.

```
   An HTTP message (request or response) consists of:

   1.  for a response only, zero or more HEADERS frames (each followed
       by zero or more CONTINUATION frames) containing the message
       headers of informational (1xx) HTTP responses (see [RFC7230],
       Section 3.2 and [RFC7231], Section 6.2), and

   2.  one HEADERS frame (followed by zero or more CONTINUATION frames)
       containing the message headers (see [RFC7230], Section 3.2), and

   3.  zero or more DATA frames containing the payload body (see
       [RFC7230], Section 3.3), and

   4.  optionally, one HEADERS frame, followed by zero or more
       CONTINUATION frames containing the trailer-part, if present (see
       [RFC7230], Section 4.1.2).
```

Trailers are especially needed for gRPC streaming support (see my other http2-client-grpc project).

The difficult bit with this decision is that HEADERS/CONTINUATION _have to_ be serialized per connexion whereas DATA are interleaved (with the bonus that one is not allowed to just miss a DATA or flow control is in a havoc). Hence, we'll probably need to refactor a bit the code to have a proper dispatcher and one queue per Stream rather than the current mix we have. Also `_waitData` may become `_waitDataOrTrailingHeaders` or something along this semantic.